@font-face {
font-family: Calibri;
src: url('./fonts/calibri.woff');
}

* {
  font-family: 'Calibri', 'Montserrat', sans-serif;
  line-height: 1.2em;
  /*letter-spacing: .02em;*/
}

p {
    font-size: 0.9em;
}

h2 {
    font-size: 1.2em;
}

.center {
     text-align: center;
     margin: 0 auto;
}

.clear {
    clear: both;
}

main {
    margin: 0 auto;
}

.hidden {
    display: none;
}

.not-hidden {
    display: inline-block;
}



/* --------- HERO --------- */
header img {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../images/hero-pic.jpg");

  /* Set a specific height */
  width: 100vw;
  height: 100vh;
  float: left;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* --------- SECTIONS --------- */


section {
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: block;
    width: 100%;
}

.flexcontainer {
  display: flex;
  width: 100%;
}
.flexcol {
  flex: 1;
  padding: 16px;
}


/* --------- SECTION IMAGES --------- */

section img {
    width: 100%;
    height: auto;
}

.section-text { /*section :not(img) could maybe work too */ 
    padding: 5px 15px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/* --------- SECTION HEADERS --------- */

.green h2 {
    color: #228835;
}

.blue h2 {
    color: #1f85bc;
}

.red h2 {
    color: #832916;
}

/* --------- SECTION BUTTTONS --------- */

button {
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.green button {
    background-color: #228835; 
}

.blue button {
    background-color: #1f85bc;
}

.red button {
    background-color: #832916;
}

button:hover {
  font-weight: bold;
}


/* --------- TWO COL --------- */

.twocol-section .section-text h2 {
    padding-top: 10px;
    padding-bottom: 15px;
}

.read-more {
    color: gray;
    background-color: white;
    border: 1px solid #d9d9d9;
    padding: 8px 20px;
    border-radius: 5px;
    display: block;
    float: right;
    margin: 10px;
    margin-right: 50px;
    text-decoration: none;
}
.read-more:hover {
  font-weight: bold;
}

/* --------- COULD ADD MEDIA QUERIES IF YOU WOULD LIKE --------- */




/* --------- NAVIGATION --------- */
/* adapted from this blog
https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793*/

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

#main-menu-close{
    background-color: white;
    color: black;
    z-index: 5000;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: gray;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/

.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
  box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}



.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  color: black;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

/*
 Larger screen styling horizontal menu
*/
@media (min-width: 605px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
	left: auto;
	top: auto;
	height: auto;
    display: block;
    background-color: black;
  }
  
  
  .main-menu ul {
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
  }
  
  nav {
    margin: 0 auto;
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


}


/* --------- NAVIGATION FULL SCREEN --------- */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid #737475;
  border-radius: 2px;
  margin: 10px;
}

.main-menu li a:hover {
  background-color: #5e5f60;
}

}