@font-face {
font-family: Calibri;
src: url('./fonts/calibri.woff');
}

* {
  font-family: 'Calibri', 'Montserrat', sans-serif;
  line-height: 1.2em;
  /*letter-spacing: .02em;*/
}

p {
    font-size: 0.9em;
}

h2 {
    font-size: 1.2em;
}

.center {
     text-align: center;
     margin: 0 auto;
}

.clear {
    clear: both;
}

main {
    margin: 0 auto;
}

/* --------- NAVIGATION --------- */
nav {
    margin: 0 auto;
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid #737475;
  border-radius: 2px;
  margin: 10px;
}

li a:hover {
  background-color: #5e5f60;
}

.active {
  background-color: #4CAF50;
}


/* --------- HERO --------- */
header img {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -500;
    top: -20px;
}

.hero-image {
  background-image: url("../images/hero-pic.jpg");
  width: 100vw;
  height: 100vh;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* --------- SECTIONS --------- */


section {
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: block;
    width: 100%;
}

.flexcontainer {
  display: flex;
  width: 100%;
}
.flexcol {
  flex: 1;
  padding: 16px;
}


/* --------- SECTION IMAGES --------- */

section img {
    width: 100%;
    height: auto;
}

.section-text { /*section :not(img) could maybe work too */ 
    padding: 5px 15px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/* --------- SECTION HEADERS --------- */

.green h2 {
    color: #228835;
}

.blue h2 {
    color: #1f85bc;
}

.red h2 {
    color: #832916;
}

/* --------- SECTION BUTTTONS --------- */

button {
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.green button {
    background-color: #228835; 
}

.blue button {
    background-color: #1f85bc;
}

.red button {
    background-color: #832916;
}

button:hover {
  font-weight: bold;
}


/* --------- TWO COL --------- */

.twocol-section .section-text h2 {
    padding-top: 10px;
    padding-bottom: 15px;
}

.read-more {
    color: gray;
    background-color: white;
    border: 1px solid #d9d9d9;
    padding: 8px 20px;
    border-radius: 5px;
    display: block;
    float: right;
    margin: 10px;
    margin-right: 50px;
    text-decoration: none;
}

.read-more:hover {
  font-weight: bold;
}

/* --------- COULD ADD MEDIA QUERIES IF YOU WOULD LIKE --------- */